@font-face {
    font-family: 'lemonmilk_lightregular';
    src: url('lemonmilklight-webfont.woff2') format('woff2'),
         url('lemonmilklight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
}

li {
    font-family: 'lemonmilk_lightregular';
    font-size: 24pt;
    color: #B4B4DA;
    list-style-type: none;
}
#photographynavbar {
    position:absolute;
    left:50px;
    top:70px;
}

 #navbar{
    font-family: 'lemonmilk_lightregular';
    font-size: 24pt;
    color: #B4B4DA;
    list-style-type: none;
    position: fixed;
    right: 50px;
    z-index: 10;
    top: 0px;
}
#aboutme {
    font-family: 'lemonmilk_lightregular';
    font-size: 17pt;
    color: #B4B4DA;
    margin-top: 200px;
    position:absolute;
    left: 400px;
}
#me{
    margin-top: 200px;
}
 #logo{
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 500px;
    margin top: 5px;
    width: 185px;
    align-items: center;
    transition: width 0.5s;
}

#logo:hover{
    width: 300px;
}

#stories {
    position:absolute;
    left: 800px;
    margin-top: 50px;
    top: 15px;
}
#contactinfo {
    position: absolute;
    left: 750px;
    margin-top: 85px;
    top:15px;
}

#photographynavbar{
    position:absolute;
    top:100px;
}

#photograph_images1{
    position:absolute;
    left:5px;
    top:100px;
    width:450px;
    height:300px;
}
#photography_images2 {
    position:absolute;
    left:460px;
    top:70px;
    width:485px;
    height:300px;
}

#photographyimages1 {
    position:absolute;
    left:860px;
    top:180px;
    transform: rotate(270deg);
    height:400px;
    width:600px;
}

#photograph4 {
    position:absolute;
   left:390px;
    top:490px;
    transform:rotate(90deg);
    height:445px;
}

#photograph5 {
    position:absolute;
    left:5px;
    top:380px;
    width:490px;
    height:300px;
}

#photograph6 {
    position: absolute;
    left:5px;
    top:695px;
    width:490px;
    height: 350px;
}

#photograph7 {
    position: absolute;
    left:960px;
    top:690px;
    width:450px;
    height: 355px
}
#stories_ {
    position:absolute;
    top: 50px;
    left:10px;
}
#storytitle1 {
    position:absolute;
    margin-top:130px;
    margin-left: -200px;
}

#story1 {
    position: absolute;
    margin-top: 170px;
    margin-left:-200px;
    height:200px;
    width:610px;
}

#storytitle2 {
    position:absolute;
    margin-top: 130px;
    left: 200px;
    width:630px;
}
#story2 {
    position:absolute;
    top: 190px;
    left:200px;
    height:200px;
    width:700px;
}
#story2haiku {
    position: absolute;
    margin-top: 280px;
    left:200px;
    width:650px;
}
#haikulines4-6{
    position: absolute;
    margin-top: 350px;
    left:200px;
    width:650px;
}
#story2haiku2 {
    position: absolute;
    top: 420px;
    left:200px;
    width:650px;
}
#story2haiku3 {
    position: absolute;
    top: 520px;
    left:200px;
    width:650px;
}
#story2haiku4 {
    position: absolute;
    top: 740px;
    left:200px;
    width:650px;
}
#storytitle3 {
    position:absolute;
    top:950px;
    left:50px;
}
#story3 {
    position:absolute;
    top:1000px;
    margin-left:-370px;
    width:1550px;
}
#story3p2 {
   position:absolute;
    top:1480px;
    margin-left:-370px;
    width:1550px;
}
#story3p3 {
   position:absolute;
    top:1820px;
    margin-left:-370px;
    width:1550px;
}
#story3p4 {
    position:absolute;
    top:2420px;
    margin-left:-370px;
    width:1550px;
}
#story3p5 {
    position:absolute;
    top:2610px;
    margin-left:-370px;
    width:1550px;
}
#story3p6 {
    position:absolute;
    top:2830px;
    margin-left:-370px;
    width:1550px;
}
#story3p7 {
    position:absolute;
    top:3100px;
    margin-left:-370px;
    width:1550px;
}
